{% extends 'base.html' %}

{% block content %}

<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <div class="desktop-6">
            <h1>Obrigado por entrar em contato.</h1>
            <h2>Estes foram os dados e mensagem que você enviou:</h2>
            
            <ul>
                <li>Nome: {{ contact.name }}</li>
                <li>Email: {{ contact.email }}</li>
                <li>Telefone: {{ contact.phone }}</li>
                <li>Mensagem: {{ contact.message }}</li>
            </ul>
            <p>Em até 48 horas úteis alguém da nossa equipe responderá o seu contato.</p>
        </div>
    </div>
</section>
{% endblock content %}